<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title>Vue.js</title>
</head>
<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <div id="app"></div>

    <script>
        const syntaxisVue = Vue.createApp({
            data(){
                return{
                    puerta: 'Acceder a mi cuenta',
                    close: true,
                    username: '',
                    post: [{
                            title: 'Perros',
                            description: 'Animales que ladran',
                        },
                        {
                            title: 'Gatos',
                            description: 'Animales que mauyan',
                        },
                        {
                            title: 'Conejos',
                            description: 'Animales que comen zanahorias',
                        },
                    ],
                    addPost: {
                        title: '',
                        description: '',
                    },
                }
            },
            watch:{
                close(value){
                    if(value){
                        this.puerta = 'Acceder a tu cuenta';
                        this.username = '';
                    }else{
                        this.puerta = 'Salir de tu cuenta';
                    }
                }
            },
            computed:{
                abrir(){
                    return this.close ? 'Abrir' : 'Cerrar'
                },
                styles(){
                    return this.close ? 'close' : 'open';
                }
            },
            methods:{
                puertica(){
                    this.close = !this.close
                },
                anadir(){
                    const arrayPost = [];
                    if(this.addPost.title != '' && this.addPost.description != ''){
                        arrayPost['title'] = this.addPost.title;
                        arrayPost['description'] = this.addPost.description;
                        this.post.push(arrayPost);
                    }
                },
                removePost(i){
                    this.post.splice(i, 1);
                }
            },
            template:`
            <div class='container' :class='styles' >
                <h5>{{ puerta }}</h5>
                <div class='mb-input' v-if='close' >
                    Enter your name: <input type='text' v-model='username' />
                </div>
                <div class='mb-input' v-else >
                    Your username is: <strong> {{ username }} </strong>

                    <div class='modificar-inputs'>
                        Enter a title:
                        <input type='text' v-model='this.addPost.title' />
                        Enter a description:
                        <input type='text' v-model='this.addPost.description' />
                        <button @click='anadir' >Add list</button>
                    </div>    

                    <div class='title-margin'>
                        <div v-for='(item, index) in post' :key='index' class='height-title' > 
                            <div>
                                <strong> {{ item.title }} </strong>
                                <button @click='removePost' >X</button>
                            </div>
                            <label>{{ item.description }}</label>
                        </div>
                </div>
                </div>

                <button @click='puertica'>
                    <div v-if='close' >Acceder</div>
                    <div v-else>Salir</div>
                </button>
            </div>
            `
        }).mount('#app');
    </script>

</body>
</html>